<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        {{#each articles}}
        {{#if favorite}}
        <div class="article-div card my-4">
            <div class="card-header bg-primary">
                <a href={{this.link}}>{{this.title}}</a>
            </div>
            <div class="card-body">
                <p>{{this.description}}</p>
            </div>
            <div class="card-footer bg-info text-right">
                <button class="btn bg-success">Notes</button>
                <button class="btn bg-success favorite-button" data-id={{this._id}}>Favorite</button>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
    <div class="col-lg-1"></div>

</div>