html,
body {
  margin: 0;
  height: 100%;
}

a {
  color: red;
}

#navigation {
  font-size: x-large;
}

#background-wrapper {
  background-image: url("/images/5-01.svg");
  width: 100%;
  background-position: center;
  min-height: 100%;
}

#note-holder {
  overflow-y: scroll;
}

.delete-note-button {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}

.note-well {
  border-color: gray;
  border: 1px;
  border-style: solid;
  margin-top: 15px;
  position: relative;
}
